<html>
  <head>
    <title>Stress</title>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- Open San font link -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- CSS file -->
   <link rel="stylesheet" href="../css/guide.css" />
 

  </head>
<script src="https://use.fontawesome.com/12227e0529.js"></script>

  <body>
    <div class="main-content">
      <div class="heading">
        <h1>Blood bank and RT-PCR Tests</h1>
      </div>

      <div class="img-wrap">
        <img src="../images/Depression-banner.png" alt="" />
      </div>

      <br />
      <br />
      <div class="topic">
        <h2>Working</h2>
      <p>

      </p>

<h2>Our Trusted Hospitals:-</h2>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: none;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(254,236,164,1);
  color: #424242;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Hospital</th>
    <th>Contact</th>
    <th>City</th>
    <th>Message</th>
    <th>Blood Availability</th>
  </tr>
  <tr>
    <td>Sanjeevni Hospital</td>
    <td>Manoj Kumar</td>
    <td>Patna</td>
    <td><i class="fa fa-comments" aria-hidden="true"></i></td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Apollo Hospital</td>
    <td>Krishna Gupta</td>
    <td>Delhi</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  <td>Yes</td>
  </tr>
  <tr>
    <td>Paras HMRI Hospital</td>
    <td>Raj Verma</td>
    <td>Patna</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  <td>Yes</td>
  </tr>
  <tr>
    <td>Baba Advanced Orthopaedic Hospital</td>
    <td>Suresh Sharma</td>
    <td>Ahemdabad</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  <td>No</td>
  </tr>
  <tr>
    <td>Mahavir Hospital </td>
    <td>Helen Bennett</td>
    <td>Mumbai</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  <td>Yes</td>
  </tr>
  <tr>
    <td>Apollo Hospital</td>
    <td>Piyush Gupta</td>
    <td>Pune</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  <td>No</td>
  </tr>
  <tr>
    <td>Chandan Hospital</td>
    <td>Yogesh Kumar</td>
    <td>Haryana</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  <td>No</td>
  </tr>
  <tr>
    <td>Metro Hospital</td>
    <td>Saurav Suman</td>
    <td>Ahemdabad</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Wellcare Hospital</td>
    <td>Mahesh </td>
    <td>Delhi</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  <td>Yes</td>
  </tr>
</table>
      </div>
      
  <section class="contact-us">
    <div class="container">
      <div class="contact-box">
        <div class="row">
          <div class="col-lg-6">
            <div class="contact-img-box">
              <img src="../images/5886.jpg" alt="Contact Banner" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6 btn-group-vertical">
            <div class="contact-box-content">
              <h1>Tell us have you recovered or not to improve our database</h1>
              <a href="#" class="btn-contact">Log In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    </div>
  </body>
</html>
