<html>
  <head>
    <link rel="stylesheet" href="../css/anxiety.css" />
    <title>Medical Equipments and Supply System</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/guide.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>
<script src="https://use.fontawesome.com/12227e0529.js"></script>
  <body>
    <div class="main-content">
      <div class="heading">
        <h1>Medical Equipments and Supply System</h1>
      </div>

      <div class="img-wrap">
        <img src="../images/schizophrenia-banner.png" alt="" />
      </div>
      <br />
      <br />
      <div class="topic">
        <h2>Working</h2>
<p>
Hospitals can offer portable ventilators ,oxygen cylinders, or any beneficial medical supply on rent to patients at very low risk according to the time of availability and requirement at their home so that the load on hospital beds is low. 
</p>
<p>Patients can contact the hospital through the chat app and ask for the lead or any doubt they have</p>
<p>We are Dividing this into two parts:-</p>
<br>
<h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMedical Equipments</h3><br>
<p>The medical Equipments we will be providing will be</p>
<ol>
  <li>Portable ventilators</li>
  <li>Oxygen Cylinders</li>
  <li>Medications</li>
</ol>




  </div>

<h2>Our Trusted Hospitals:-</h2>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: none;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(254,236,164,1);
  color: #424242;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Hospital</th>
    <th>Contact</th>
    <th>City</th>
    <th>Message</th>
  </tr>
  <tr>
    <td>Sanjeevni Hospital</td>
    <td>Manoj Kumar</td>
    <td>Patna</td>
    <td><i class="fa fa-comments" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td>Apollo Hospital</td>
    <td>Krishna Gupta</td>
    <td>Delhi</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  </tr>
  <tr>
    <td>Paras HMRI Hospital</td>
    <td>Raj Verma</td>
    <td>Patna</td>
    
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  </tr>
  <tr>
    <td>Baba Advanced Orthopaedic Hospital</td>
    <td>Suresh Sharma</td>
    <td>Ahemdabad</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  </tr>
  <tr>
    <td>Mahavir Hospital </td>
    <td>Helen Bennett</td>
    <td>Mumbai</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  </tr>
  <tr>
    <td>Apollo Hospital</td>
    <td>Piyush Gupta</td>
    <td>Pune</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  </tr>
  <tr>
    <td>Chandan Hospital</td>
    <td>Yogesh Kumar</td>
    <td>Haryana</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  </tr>
  <tr>
    <td>Metro Hospital</td>
    <td>Saurav Suman</td>
    <td>Ahemdabad</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  </tr>
  <tr>
    <td>Wellcare Hospital</td>
    <td>Mahesh </td>
    <td>Delhi</td>
    <td><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></td>
  </tr>
</table>
<br>
<br>
<br>
<section>
  <div class="topic">
<h4> Book Your Medical Equipments with just a simple click :-<span>  <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HbGfvGAm6e3dI3" async> </script> </form>
</span></h4>
</div>
</section>




  </body>
</html>
